@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@900&display=swap');


.sidebarContainer, .headerContainer{
    font-family: 'Tourney', sans-serif !important;
}


.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}
.mainBody{
  min-height: 650px;
  margin-top: 20px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;
  

    /* background: -webkit-linear-gradient(
      to bottom right,
      rgba(252, 203, 144, 1),
      rgba(213, 126, 235, 1)
    );
  

    background: linear-gradient(
      to bottom right,
      rgba(252, 203, 144, 1),
      rgba(213, 126, 235, 1)
    ); */

    background: black !important;
    color: white !important;
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

  .chatBoxContainer{
  
      margin:4px, 4px;
      padding:4px;
      /* background-color: green; */
      /* width: 500px; */
      height: 450px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align:justify;

  }

  .scrollcss{
    margin:4px, 4px;
      padding:4px;
      /* background-color: green; */
      /* width: 500px; */
      height: 450px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align:justify;
  }
  .sidebarTab{
    color: white !important;
    background-color: rgba(24, 24, 16, 0.2) !important;
    /* background: rgba(24, 24, 16, 0.2); */
    border-radius: 2em !important;
  }
  .sidebarTab:hover{
    color: white !important;
    background-color: rgba(24, 24, 16, 0.2) !important;
    /* background: rgba(24, 24, 16, 0.2); */
    border-radius: 2em;
    border-color:white !important;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: white !important;
    background-color: rgba(24, 24, 16, 0.2) !important;
    /* background: rgba(24, 24, 16, 0.2); */
    border-radius: 2em;
    border-color:white !important;

  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(24, 24, 16, 0.2); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(24, 24, 16, 0.2); 
  }

 