

  /* @import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Tourney:wght@900&display=swap');



.signinContainer{
  font-family: 'Tourney', sans-serif !important;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

    background: black !important;
    color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.btnsignin, .btnSignup{
  color: white !important;
  background-color: rgba(24, 24, 16, 0.2) !important;
  border-radius: 2em;
  border-color:white !important;
  --mdb-btn-box-shadow: 0 4px 9px -4px white !important;
  font-family: 'Tourney', sans-serif !important;
  border-color:#07122e !important;
}





